<!-- HERO SECTION -->
<section
  class="w-full min-h-[90vh] bg-black hero-pattern flex items-center mt-8 px-8 md:px-20 overflow-hidden"
>
  <div class="max-w-3xl text-yellow-500 space-y-6 fade-in-up">
    <h1 class="text-4xl md:text-6xl font-semibold leading-tight fade-in-up">
      Professional <br />
      House Cleaning <br />
      Services
    </h1>

    <p class="text-sm md:text-base text-yellow-50 max-w-lg fade-in-delay">
      Experience a clean and healthy home with our customized cleaning solutions
      tailored to your needs.
    </p>

    <div class="flex gap-4 fade-in-delay">
      <a
        routerLink="/book"
        class="bg-yellow-500 cursor-pointer text-black px-6 py-2 rounded-md text-sm font-medium hover:opacity-90 transition hover:bg-gray-700 hover:text-white hover:border hover:border-yellow-500"
      >
        Book Now
      </a>

      <a
        routerLink="/contact"
        class="border border-yellow-500 cursor-pointer px-6 py-2 rounded-md text-sm font-medium hover:bg-gray-700 hover:text-white transition"
      >
        Contact Us
      </a>
    </div>
  </div>
</section>

<!-- ABOUT SECTION -->
<section
  class="w-full py-20 px-8 md:px-20 text-center bg-gray-100 text-black fade-in-up"
>
  <div class="max-w-5xl mx-auto space-y-2">
    <i class="fa-solid fa-sparkles text-3xl text-black bounce-once"></i>

    <p class="text-sm md:text-lg leading-relaxed">
      Our team of experienced professionals is dedicated to providing
      top-quality house cleaning services to ensure your home is a comfortable
      and safe space for you and your family. We take pride in our attention to
      detail and use of advanced cleaning techniques to deliver exceptional
      results.
    </p>
  </div>
</section>
